doctype

include _mixins.jade
include _inline_shit_style_remove_me.jade

html
    head
      meta(charset="utf-8")
      title= api.name || 'API Documentation'
      +InlineShit()

    body
      div.container
        .row

          block nav
            +RedboothNav()

          .col-md-8
            block content
              +Content('primary', false)
